{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "!{apps,libs}/**/*.{js,ts}",
      "options": {
        "trailingComma": "es5"
      }
    }
  ]
}
